@charset "IBM866";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body, html { height: 100%; font-family: sans-serif; }

a { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.container { margin: 0 auto; width: 970px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.container:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 992px) { .container { width: 700px; } }
@media only screen and (max-width: 760px) { .container { width: 480px; } }
@media only screen and (max-width: 560px) { .container { max-width: 360px; width: 100%; } }

.wrap { min-height: 100%; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wrap:after { content: " "; display: table; clear: both; }

.h3 { font-size: 20px; line-height: 20px; }

.link { color: #0272bc; font-size: 13px; line-height: 13px; }
.link:hover { text-decoration: none; }

.link-dark { color: #656764; font-size: 12px; line-height: 12px; }

.link_more { position: relative; }
.link_more:after { position: absolute; content: "→"; top: 15%; right: -20px; }

.text { font-size: 16px; line-height: 23px; }

.list { list-style-image: url(../img/icons/i-star.png); line-height: 28px; margin-left: 36px; }
.list li { padding-left: 8px; }

/*-----header---------------------------------------- */
.header { *zoom: 1; padding: 20px 0 24px 0; }
.header:after { content: " "; display: table; clear: both; }

.header__left { float: left; }
@media only screen and (max-width: 992px) { .header__left { float: none; text-align: center; } }

.header__right { float: right; }
@media only screen and (max-width: 992px) { .header__right { float: none; } }

.header__center { overflow: hidden; padding-bottom: 11px; }
@media only screen and (max-width: 992px) { .header__center { text-align: center; } }

/*-----headline---------------------------------------- */
.headline { background: #01baf0; }

.headline__text { color: white; font-size: 20px; line-height: 40px; }

/*-----main---------------------------------------- */
.main { *zoom: 1; padding-top: 35px; margin-bottom: 51px; }
.main:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 992px) { .main { margin-bottom: 25px; } }

.main__left { float: left; width: 49%; }
.main__left .h3 { margin-bottom: 24px; }
.main__left .text { margin-bottom: 5px; }
.main__left .list { margin-bottom: 9px; }
@media only screen and (max-width: 992px) { .main__left { float: none; width: 100%; margin-bottom: 25px; } }

.main__right { float: left; width: 51%; }
.main__right .h3, .main__right .link { margin-left: 9px; }
.main__right .h3 { margin-bottom: 25px; }
@media only screen and (max-width: 992px) { .main__right .h3 { text-align: center; } }
.main__right .link { margin-left: 19px; }
@media only screen and (max-width: 992px) { .main__right .link { margin-left: 0; } }
@media only screen and (max-width: 992px) { .main__right { float: none; width: 100%; } }

/*-----banner---------------------------------------- */
.banner { margin-bottom: 20px; }
@media only screen and (max-width: 760px) { .banner { display: none; } }
.banner .banner-in { height: 92px; line-height: 92px; width: 945px; line-height: 90px; text-align: center; vertical-align: middle; margin: 0 auto; border: 1px solid #e2e2e2; color: #eceaeb; font-size: 18px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 2px; overflow: hidden; }
.banner .banner-in img { max-height: 100%; }
@media only screen and (max-width: 992px) { .banner .banner-in { width: 100%; } }

/*-----footer---------------------------------------- */
.footer { background: #f9f9f9; height: 102px; margin-top: -102px; padding-top: 22px; color: #656565; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.footer-psevdo { height: 102px; }

/*-----logo----- */
.logo { font: 0/0 a; text-shadow: none; color: transparent; height: 75px; width: 75px; display: inline-block; background: url(../img/logo.png) no-repeat; vertical-align: bottom; }

/*-----nav----- */
.nav { *zoom: 1; margin: 14px 0 0 36px; }
.nav:after { content: " "; display: table; clear: both; }
.nav li { float: left; margin-left: 14px; padding: 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 44px; line-height: 44px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; position: relative; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.nav li:first-child { margin-left: 0; }
.nav li:hover { background: #01baf0; }
.nav li:hover a { color: white; }
.nav li:active { background: yellow; -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); background: #31eaff; }
.nav a { color: #0171b9; font-size: 18px; line-height: 18px; }
.nav .is-active { background: #01baf0; }
.nav .is-active:after { position: absolute; content: ""; bottom: -11px; left: 43%; width: 0; height: 0; border-style: solid; border-width: 11px 8px 0 8px; border-color: #01baf0 transparent transparent transparent; }
.nav .is-active a { font-size: 20px; line-height: 18px; color: white; }
@media only screen and (max-width: 992px) { .nav { display: inline-block; margin-left: 0; } }

/*-----enter----- */
.enter { width: 175px; font-size: 12px; line-height: 12px; padding: 5px 16px 0 0; }
@media only screen and (max-width: 992px) { .enter { width: 100%; padding: 0; text-align: center; } }

.enter__account, .enter__reg { text-decoration: none; border-bottom: 1px dashed; }

.enter__account { line-height: 32px; color: #fa07b9; margin-right: 10px; }
.enter__account:hover { color: #ff67ff; }

.enter__reg { color: #a798b7; margin-left: 10px; }
.enter__reg:hover { color: #d7c8e7; }

/*-----slider----- */
.slider { margin-bottom: 10px; margin-bottom: 7px; position: relative; }

.cycle-slideshow { width: 456px; margin: 0 auto; }

.slider__item { height: 106px; width: 100%; display: inline-block; left: 3px; overflow: hidden; background: #aaaaaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.slider__item-1 { background: url(../img/special.jpg); }

.slider__item-2 { background: url(../img/special_2.jpg); }

.slider__item-3 { background: url(../img/special_3.jpg); }

.slider__content { background: #01baf0; background: rgba(0, 0, 0, 0.5); margin-top: 49px; height: 100%; padding: 11px 10px 10px 15px; *zoom: 1; }
.slider__content:after { content: " "; display: table; clear: both; }

.slider__left { float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.slider__right { float: right; width: 135px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.slider__title { color: white; font-weight: bold; font-size: 18px; line-height: 18px; }

.slider__company { color: white; font-size: 14px; line-height: 20px; }

.slider__salary { color: #fef102; font-weight: bold; font-size: 18px; line-height: 18px; }

.slider__other { color: white; font-size: 12px; line-height: 22px; }

.slider__prev, .slider__next { display: inline-block; position: absolute; top: 44px; cursor: pointer; }
.slider__prev:hover, .slider__next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.slider__prev:active, .slider__next:active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.slider__prev { background: url('../img/icons-s099dbc8693.png') 0 -27px no-repeat; width: 12px; height: 17px; left: -1px; }

.slider__next { background: url('../img/icons-s099dbc8693.png') 0 0 no-repeat; width: 12px; height: 17px; right: 1px; }

/*-----copyright----- */
.copyright { font-size: 12px; line-height: 12px; margin-bottom: 17px; }

/*------phone----- */
.phone { font-size: 12px; line-height: 12px; margin-bottom: 6px; }
.phone .link { color: #656566; text-decoration: none; font-size: 12px; line-height: 12px; }

/*-----mail----- */
.mail { font-size: 12px; line-height: 12px; }
.mail .link { color: #656565; font-size: 12px; line-height: 12px; }

/*-----ico----- */
.ico { display: inline-block; }

.i-closed_pink { background: url('../img/icons-s099dbc8693.png') 0 -54px no-repeat; width: 12px; height: 16px; margin-left: -13px; vertical-align: sub; margin: 0 15px 0 -29px; }

.test { position: absolute; bottom: 0px; background: yellow; width: 100%; }
@media only screen and (max-width: 992px) { .test { background: magenta; } }
@media only screen and (max-width: 760px) { .test { background: blue; } }
@media only screen and (max-width: 560px) { .test { background: red; } }
